* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
}

h3 {
    background-color: aqua;
    border: 1px solid black;
    text-align: right;
    top: 0%;
    display: flex;
}

.row {
    width: 100%;
}

@media (min-width: 992px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3 {
        float: left;
        border: 1px solid green;
    }
    .col-lg-1 {
        width: 29%;
        background-color: chocolate;
        position: relative;
        margin: 2%;
    }
    .first {
        background-color: aqua;
        border: 1px solid black;
        text-align: right;
        top: 0%;
        right: 0%;
        position: absolute;
        background-color: blueviolet;
        font-weight: bold;
        padding: 2px;
    }
    #text1 {
        margin-top: 5%;
    }
    .col-lg-2 {
        width: 29%;
        background-color: chocolate;
        position: relative;
        margin: 2%;
    }
    .second {
        background-color: aqua;
        border: 1px solid black;
        text-align: right;
        top: 0%;
        right: 0%;
        position: absolute;
        background-color: brown;
        font-weight: bold;
        padding: 2px;
    }
    #text2 {
        margin-top: 5%;
    }
    .col-lg-3 {
        width: 29%;
        background-color: chocolate;
        position: relative;
        margin: auto;
        margin: 2%;
    }
    .third {
        background-color: aqua;
        border: 1px solid black;
        text-align: right;
        top: 0%;
        right: 0%;
        position: absolute;
        background-color: crimson;
        font-weight: bold;
        padding: 2px;
    }
    #text3 {
        margin-top: 5%;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .col-mg-1,
    .col-mg-2,
    .col-mg-3 {
        float: left;
        border: 1px solid green;
    }
    h3 {
        font-size: 75%;
    }
    .col-mg-1 {
        width: 48%;
        background-color: chocolate;
        position: relative;
        margin: 1%;
    }
    .first {
        background-color: aqua;
        border: 1px solid black;
        text-align: right;
        top: 0%;
        right: 0%;
        position: absolute;
        background-color: blueviolet;
        font-weight: bold;
        padding: 2px;
    }
    #text1 {
        margin-top: 5%;
    }
    .col-mg-2 {
        width: 48%;
        background-color: chocolate;
        position: relative;
        margin: 1%;
    }
    .second {
        background-color: aqua;
        border: 1px solid black;
        text-align: right;
        top: 0%;
        right: 0%;
        position: absolute;
        background-color: brown;
        font-weight: bold;
        padding: 2px;
    }
    #text2 {
        margin-top: 5%;
    }
    .col-mg-3 {
        width: 98%;
        background-color: chocolate;
        position: relative;
        margin: 1%;
    }
    .third {
        background-color: aqua;
        border: 1px solid black;
        text-align: right;
        top: 0%;
        right: 0%;
        position: absolute;
        background-color: crimson;
        font-weight: bold;
        padding: 2px;
    }
    #text3 {
        margin-top: 5%;
    }
}

@media (max-width: 767px) {
    .col-sg-1 {
        width: 100%;
        background-color: chocolate;
        position: relative;
        margin: 5px;
    }
    .first {
        background-color: aqua;
        border: 1px solid black;
        text-align: right;
        top: 0%;
        right: 0%;
        position: absolute;
        background-color: blueviolet;
        font-weight: bold;
        padding: 2px;
    }
    #text1 {
        padding-top: 10%;
    }
    .col-sg-2 {
        width: 100%;
        background-color: chocolate;
        position: relative;
        margin: 5px;
    }
    .second {
        background-color: aqua;
        border: 1px solid black;
        text-align: right;
        top: 0%;
        right: 0%;
        position: absolute;
        background-color: brown;
        font-weight: bold;
        padding: 2px;
    }
    #text2 {
        padding-top: 10%;
    }
    .col-sg-3 {
        width: 100%;
        background-color: chocolate;
        position: relative;
        margin: 5px;
    }
    .third {
        background-color: aqua;
        border: 1px solid black;
        text-align: right;
        top: 0%;
        right: 0%;
        position: absolute;
        background-color: crimson;
        font-weight: bold;
        padding: 2px;
    }
    #text3 {
        padding-top: 10%;
    }
}